@{
    ViewBag.Title = "LABORATORIO 1";
}

<div class="jumbotron">
    <h1>Implementación y análisis de estructuras lineales</h1>
    
</div>

<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        <h2>Carlos Morales-1171316 / Iván Arango-1158116</h2>
    </div>
</div>