@{
    ViewBag.Title = "InformaciondeGrupo";
}

<h2>Laboratorio # 2</h2>
<h3></h3>
<h5>Carlos Morales - 1171316</h5>
<h5>Ivan Arango - 1158116</h5>


<h2></h2>
<p>1.) Tomar en cuenta: Al visualizar alguno de los tres arboles, automaticamente se creara una carpeta con el nombre de "EstructuraDeDatos" en el disco local de su ordenador, y dicha carpeta al visualizar las vistas de los arboles se agregara en un bloc de notas los tres tipos de orden.</p>
<h3></h3>
<p>2.) Tomar en cuenta: Debe de colocar sus archivos  de cadena, enteros y pais tipo json en el disco local de su ordenador.</p>
<h4> </h4>
@Html.ActionLink("Menu Principal", "Index", "Home", null, new { atributo = "valor3", @class = "btn btn-primary" })
