<h3>Laboratorio # 4 - Uso de arreglos asociativos(Diccionarios)</h3>
<h2></h2>
<h3>Ivan Arango - 1158116</h3>
<h3>Carlos Morales - 1171316</h3>
<h3></h3>
@Html.ActionLink("Cargar Archivo", "RecolectarDatos", "AlbumPanini", null, new { atributo = "valor3", @class = "btn btn-primary" })
