
<h2>Laboratorio # 3 - Arboles AVL</h2>
<h3></h3>
<h5>Carlos Morales - 1171316</h5>
<h5>Ivan Arango - 1158116</h5>


<h2></h2>
<p>1.) En su disco local se creara una carpeta llamada estructura de datos, en la cual contendra archivos txt con los registros del arbol avl con los metodos de inserccion, busqueda y eliminacion.</p>
<p>2.) Tomar en cuenta: Debe de colocar su archivo json PARTIDOS, en el disco local para el programa funcione de la mejor manera.</p>
<h3> </h3>
@Html.ActionLink("Menu Principal", "Index", "Home", null, new { atributo = "valor3", @class = "btn btn-primary" })
